# {{ ansible_managed }}
{% for group_key, group_value in aspects_mysql_server_configuration | dictsort(true) %}

###############################
# Start {{ group_key }} Section
###############################
[{{ group_key }}]
{% for var_key, var_value in group_value | dictsort(true) %}
{# start Ubuntu section #}
{% if var_value.1.Ubuntu is defined and ansible_distribution == "Ubuntu" %}
{# start jammy subsection #}
{% if ansible_distribution_release == "jammy" and var_value.1.Ubuntu.jammy is defined %}
{{ var_key }}{% if var_value.1.Ubuntu.jammy != "aspects_novalue" %}={{ var_value.1.Ubuntu.jammy }}{% endif %}
{# end jammy subsection #}
{# start Focal subsection #}
{% elif ansible_distribution_release == "focal" and var_value.1.Ubuntu.focal is defined %}
{{ var_key }}{% if var_value.1.Ubuntu.focal != "aspects_novalue" %}={{ var_value.1.Ubuntu.focal }}{% endif %}
{# end Focal subsection #}
{# start Bionic subsection #}
{% elif ansible_distribution_release == "bionic" and var_value.1.Ubuntu.bionic is defined %}
{{ var_key }}{% if var_value.1.Ubuntu.bionic != "aspects_novalue" %}={{ var_value.1.Ubuntu.bionic }}{% endif %}
{# end Bionic subsection #}
{# start Default subsection #}
{% elif var_value.1.default is defined %}
{{ var_key }}{% if var_value.1.default != "aspects_novalue" %}={{ var_value.1.default }}{% endif %}
{# end Default subsection #}
{% endif %}
{# start Debian section #}
{% elif var_value.1.Debian is defined and ansible_distribution == "Debian" %}
{% if ansible_distribution_release == "buster" and var_value.1.Debian.buster is defined %}
{{ var_key }}{% if var_value.1.Debian.buster != "aspects_novalue" %}={{ var_value.1.Debian.buster }}{% endif %}
{% elif var_value.1.default is defined %}
{{ var_key }}{% if var_value.1.default != "aspects_novalue" %}={{ var_value.1.default }}{% endif %}
{% endif %}
{# end Debian section #}
{# start CentOS section #}
{% elif var_value.1.CentOS is defined and ansible_distribution == "CentOS"  %}
{% if ansible_distribution_major_version == "7" and var_value.1.CentOS.7 is defined %}
{{ var_key }}{% if var_value.1.CentOS.7 != "aspects_novalue" %}={{ var_value.1.CentOS.7 }}{% endif %}
{% elif var_value.1.default is defined %}
{{ var_key }}{% if var_value.1.default != "aspects_novalue" %}={{ var_value.1.default }}{% endif %}
{% endif %}
{# end CentOS section #}
{# start OracleLinux section #}
{% elif var_value.1.OracleLinux is defined and ansible_distribution == "OracleLinux"  %}
{% if ansible_distribution_major_version == "7" and var_value.1.OracleLinux.7 is defined %}
{{ var_key }}{% if var_value.1.OracleLinux.7 != "aspects_novalue" %}={{ var_value.1.OracleLinux.7 }}{% endif %}
{% elif var_value.1.default is defined %}
{{ var_key }}{% if var_value.1.default != "aspects_novalue" %}={{ var_value.1.default }}{% endif %}
{% endif %}
{# start OracleLinux section #}
{# start Default section. If no OS specific setting is defined, this can be used. #}
{% elif var_value.1.default is defined %}
{{ var_key }}{% if var_value.1.default != "aspects_novalue" %}={{ var_value.1.default }}{% endif %}
{% endif %}
{# end Default section #}

{% endfor %}

###############################
# End {{ group_key }} Section
###############################

{% endfor %}
